Body {
  height: 1200px;
}

/* Navbar */

.navbar {
  font-family: "poppins", sans-serif;
  /* background-color: #7330f9; */
  /* background-color: #6d9186; */
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
}

.main-nav {
  background-color: #6d9186;
}

/* .navbar.scrolled {
  background-color: #fff;
  transition: background-color 0.5s ease;
  box-shadow: 0px -10px 30px #666;
}

.navbar.scrolled a.nav-link {
  color: #666;
}  */

.navbar .tombol {
  background-color: #f8b422;
  border-radius: 40px;
  padding: 10px 40px;
  margin-left: 20px;
  color: #fff;
  transition: 1s all ease-in;
}

.navbar .tombol:hover {
  background-color: #ffffff;
  color: black;
}

.navbar-brand {
  font-weight: 500;
  font-size: 28px;
}

/* Jumbotron */
.jumbotron {
  /* background-color: y; */
  font-family: "poppins", sans-serif;
  text-align: center;
  background-color: #f6f8fd;
}

.jumbotron .display-4 {
  margin-top: 120px;
  font-weight: 700;
  font-size: 32px;
  color: #1a2925;
}

.jumbotron p {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 300;
}

.jumbotron .tombol {
  border-radius: 7px;
  background-color: #6d9186;
  color: #fff;
}

.jumbotron .tombol:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.jumbotron img {
  margin-top: 120px;
  display: none;
}

/* Featured */

.featured {
  font-family: "poppins", sans-serif;
  background-color: #f6f8fd;
}

.featured h2 {
  margin-top: 120px;
  font-weight: 500;
  font-size: 32px;
}

.featured .card {
  margin-top: 50px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.11);
  border-radius: 25px;
  background: url(img/paterns.png);
  transition: 1s all ease-in;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.featured .card:hover {
  /* background-color: #f8b422; */
  background-color: #6d9186;
  color: #fff;
}

.featured .card img {
  border-radius: 25px;
  padding: 10px;
}

.featured .tombol {
  background: #6d9186;
  color: white;
}

.featured .tombol:hover {
  background-color: #f8b422;
}

/* testiomonial */

/* handbook */
.handbook {
  font-family: "poppins", sans-serif;
  background-color: #f6f8fd;
}

.handbook h2 {
  margin-top: 180px;
  font-weight: 500;
}

.handbook p {
  margin-top: 20px;
}

.handbook .tombol {
  /* background-color: #7330f9; */
  background-color: #6d9186;
  color: #fff;
  border-radius: 7px;
  margin-top: 20px;
}

.handbook img {
  margin-top: 120px;
  display: none;
}
.star {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90%;
  padding-top: 20px;
  display: flex;
  margin-top: 30px;
  font-size: 17px;
}

.checked {
  color: #f8b422;
}

/*section  belajar */
/* belajar */
.belajar {
  font-family: "poppins", sans-serif;
  background-color: #f6f8fd;
}

.belajar .bi {
  font-size: 32px;
  color: #f8b422;
}

.workingspace {
  margin-top: 40px;
  text-align: center;
}

.belajar h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  /* margin-top: 170px; */
  margin-top: 150px;
}

.belajar h3 {
  /* color: #ffca2c; */
  color: #6d9186;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-top: 40px;
}

.belajar p {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

.belajar img {
  width: 400px;
  margin-top: 170px;
  display: none;
}

/* akhir section belajar */

/* akhir handbook */

/* swiper js */

.swiper {
  /* height: 400px; */
  background-color: #f6f8fd;
}

.swiper .container {
  /* cursor: pointer; */
}

.swiper .swiper-title {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  margin-top: 150px;
}

.swiper .card {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

.swiper .card img {
  padding: 10px;
}

/* .swiper {
  height: 300px;
}
.swiper-container {
  height: 600px;
}

.swiper-slide {
  background: #6d9186;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
} */

/* akhir swiper js */

/* Desktop Version */
@media (min-width: 992px) {
  .main-nav {
    background-color: #6d9186;
  }

  .navbar.scrolled {
    background-color: #fff;
    transition: background-color 0.5s ease;
    box-shadow: 0px -10px 30px #666;
  }

  .navbar.scrolled a.nav-link {
    color: #666;
  }

  .navbar-brand {
    font-size: 32px;
    font-size: 700;
  }
  .jumbotron {
    text-align: left;
  }

  .jumbotron .display-4 {
    margin-top: 120px;
    font-weight: 700;
    font-size: 52px;
  }
  .jumbotron img {
    display: block;
  }

  /* handbook */
  .handbook img {
    display: block;
  }

  /* belajar */
  .belajar img {
    display: block;
  }
}
